
@{
    ViewData["Title"] = "Adopt Requirements";
    <link href="~/css/bfad.css" rel="stylesheet" />
}

<div id="header2">
    <div id="headbfadtxt">
        <br><br><br>
        <h1>Adoption requirements</h1>
    </div>
</div>

<div id="divblue">
    <br>
    <h2>REQUIREMENTS</h2>
</div>

<br>

<div class="container text-center">
    <div class="row">
        <div class="col-8" id="texttb">
            <h5>ADOPTION THROUGH THE PAGE</h5>
            Register to select the animal you want to adopt and submit an adoption request.
            Our team will be in contact to arrange an interview. The whole family living in
            the same address must attend this interview. If you are looking to adopt a puppy
            and you already have a puppy as a pet, you will also need to attend the interview.
            All family members must agree with the chosen furry.
            <ul>
                <li>Official identification (original and copy).</li>
                <li>Proof of address no more than 3 months (original and copy).</li>
                <li>$1,000 donation with which we will continue to help more furry friends.</li>
                <li>Assist with a dog leash or cat carrier (as the case may be).</li>
                <li>Accept commitments of care.</li>
            </ul>
        </div>
        <div class="col-4" id="texttb">
            <img src="~/img/bfad3.png" class="rounded float-end img-fluid" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12" id="texttb">
            <h5 class="text-center">COMMITMENTS</h5>
            <ul>
                <li>It must always carry the identification plate that is given to them when adopting it.</li>
                <li>
                    When you get home, you should assign its own place that is sheltered from the weather
                    and allocate a space for your needs, trying to take the necessary measures to prevent your
                    escape and possible accidents.
                </li>
                <li>Provide food appropriate to its size, age and activity, depending on the animal in question.</li>
                <li>
                    Have adequate medical surveillance and go to the vet if necessary or to their normal
                    appointments every six months (deworming) or annually (vaccination).
                </li>
                <li>Receive supervision at your home to verify the adoption of the animal and its new way of life.</li>
            </ul>
            <br>
        </div>
    </div>
</div>

<br>

<div id="divblue">
    <br>
    <h2>ARE YOU READY FOR THE NEXT STEPS?</h2>
</div>

<br>

<div class="container text-center">
    <div class="row">
        <div class="col-6">
            <a href="#" class="btn btn-outline-primary btn-lg">Know the requirements <br> to adopt</a>
        </div>
        <div class="col-6">
            <a href="#" class="btn btn-outline-primary btn-lg">Know them</a>
        </div>
    </div>
</div>
<br>

