@model IEnumerable<ProyectoPrograWeb.Models.VPet>
@{
    ViewData["Title"] = "Index";

}
@section Css {
    <link href="~/css/adopStyle.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/js/adoptScript.js"></script>
}

<img src="~/img/adop.jpg" class="img-fluid center" alt="...">
<div class="bar">
    <form class="form-inline">
        <div class="input-group w-100 mb-3">
            <input class="form-control" type="search" placeholder="what are you searching for? " aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
        <div class="input-group mr-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Select animal</label>
            </div>
            <select class="form-control custom-select">
                <option value="" selected hidden>Animal (optional)</option>
                <option value="Dogs">Dogs</option>
                <option value="Cats">Cats</option>
                <option value="Rabbbits">Rabbits</option>
                <option value="Hamsters">Hamsters</option>
            </select>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text">Select breed</label>
            </div>
            <select class="form-control custom-select">
                <option value="" selected hidden>Breed (optional)</option>
                <option value="Dogs">Dogs</option>
                <option value="Cats">Cats</option>
                <option value="Rabbbits">Rabbits</option>
                <option value="Hamsters">Hamsters</option>
            </select>
        </div>
    </form>
</div>

<table id="example" class="table table-sm table-hover" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>Sex</th>
            <th>Age</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var pet in Model)
            {
                <tr>
                    <td>@pet.NameSex</td>
                    <td>
                        @pet.AgePet
                        @{
                            if (pet.IsAgeMonth)
                            {
                                if (pet.AgePet == 1)
                                {
                                    <span>Month</span>
                                }
                                else
                                {
                                    <span>Months</span>
                                }
                            }
                        }
                    </td>
                    <td>@pet.DescriptionPet</td>
                    <td class="d-inline-block">
                        <img src="~/img/botto1.png" class="img-fluid btnImage btnImageDetails" />
                        <img src="~/img/botto.png" class="img-fluid btnImage btnImageAdopt" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@*
    <div class="row row-cols-md-3 row-cols-1 g-4">
        <div class="col-lg-4 col-md-5 col-10 offset-lg-0 offset-md-1 offset-1 mb-5">
            <div class="card h-100">
                <div class="card-header">
                    <img src="~/img/Chuchito.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <div class="card-title text-center">
                        <h5>Chuchito</h5>
                    </div>
                    <p class="card-text">
                        <ul class="list-unstyled text-justify mx-4">
                            <li>Sex: Male</li>
                            <li>Age: 4 months</li>
                            <li>Description:<br />It is a very affectionate and playful puppy</li>
                            <li></li>
                            <li></li>
                        </ul>
                    </p>
                </div>
                <div class="card-footer text-center">
                    <img src="~/img/botto1.png" class="img-fluid btnImage btnImageDetails" />
                    <img src="~/img/botto.png" class="img-fluid btnImage btnImageAdopt">
                </div>
            </div>
        </div>
    </div>
*@