
@{
    ViewData["Title"] = "Index";

}
@section Css {
    <link href="~/css/adopStyle.css" rel="stylesheet" />
}

<img src="~/img/adop.jpg" class="img-fluid" alt="...">
<div class="bar">
    <form class="form-inline">
        <div class="input-group w-100">
            <input class="form-control" type="search" placeholder="what are you searching for? " aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-orange" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="container1 w-100">
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text">
            Breed: Chihuahua
            <br>Color: Light Brown
            <br>Age: 4 months
            <br>Weight: 2,700 kg
            <br>Sex: Male
            <br>It is a very affectionate ad playful puppy

        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Oliver.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Oliver</p>
        <p class="text">
            Breed: Mestizo/ Creole
            <br>color: Black with white chest
            <br>Age: 3 years
            <br>Weight: 7 kg
            <br>Sex: Male
            <br>A little suspicious but when he meers people he is very playful and affectionate.

        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Ambar.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Ambar</p>
        <p class="text">
            Breed: Meztizo/ Creole
            <br>Color: cream
            <br>Age: 1 year
            <br>Weight: 6,800 kg
            <br>Gender: Female
            <br>Quiet but very affectionate and loving
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<div class="container1 w-100">
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Tosca.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Tosca</p>
        <p class="text">
            Breed: German Shepherd
            <br>Color: Dark brown with light brown
            <br>Age: 5 years
            <br>Weight: 9 kg
            <br>Gender: Female
            <br>A little shy so she needs a loving and caring family
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Canelo.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Canelo</p>
        <p class="text">
            Breed: Meztizo/ Creole
            <br>Color: Light brown
            <br>Age: 5 years
            <br>Weight: 19 kg
            <br>Sex: Male
            <br>He is very playful when you are paying attention to him
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid img-btm" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Venus.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Venus</p>
        <p class="text">
            Breed: Labrador Retriever
            <br>Color: Cream
            <br>Age: 4 years
            <br>Weight: 17 kg
            <br>Gender: Female
            <br>Very calm and very loving when there is trust.
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<div class="container1 w-100">
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Blaki.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Blaki</p>
        <p class="text">
            Breed: Meztizo/ Creole
            <br>Color: Black
            <br>Age: 7 years
            <br>Weight: 20 kg
            <br>Gender: Female
            <br>She is a very affectionate and loving dog.
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Tura.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Tura</p>
        <p class="text">
            Breed: pitbull
            <br>Color: coffe with white on the chest
            <br>Age: 9 years
            <br>Weight: 20 kg
            <br>Gender: Female
            <br>He barks a lot when he does not know someone;<br> but in general she is very cute and affectionate.
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Toni.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Toni</p>
        <p class="text">
            Species: Meztizo - Cat
            <br>Color: Light gray with dark and soft gray on the chest
            <br>Age: 4 years
            <br>Weight: 3,800 kg
            <br>Sex: Male
            <br>A very affectionate and loving cat
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<div class="container1 w-100">

    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Kira.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Kira</p>
        <p class="text">
            Species: Other - Cat
            <br>Color: Honey
            <br>Age: 5 years
            <br>Weight: 5,600 kg
            <br>Gender: Female
            <br>A kitten that gains confidence from people very quickly and is very affectionate.
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Frijol.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Frijol</p>
        <p class="text">
            Species: Meztizo- cat
            <br>Color: black
            <br>Age: 3 years
            <br>Weight: 4,200 kg
            <br>Sex: Male
            <br>A very affectionate and playful cat when he gains confidence.
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Tito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Tito</p>
        <p class="text">
            Species: Other - Cat
            <br>Color: Black
            <br>Age: 2 years
            <br>Weight: 3,100 kg
            <br>Sex: Male
            <br>He becomes defensive when he is unfamiliar but by gaining confidence he is very loving
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<div class="container1 w-100">
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Bob.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Bob</p>
        <p class="text">
            Species: Californian
            <br>Color: Whithe with black nose and ears
            <br>Age: 1 year
            <br>Weight: 2,600 kg
            <br>Sex: Male
            <br>Very rare species in this country
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Bunny.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Bunny</p>
        <p class="text">
            Species: Cinnamon
            <br>Color: Dark brown with light brown on the chest and ears
            <br>Age: 1 year
            <br>Weight: 3 kg
            <br>Sex: Male
            <br>It is very common but very affectionate and playful bunny
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Bola.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Bola</p>
        <p class="text">
            Species: Borgoña
            <br>Color: light brown
            <br>Age: 3 years
            <br>Weight: 4 kg
            <br>Gender: Female
            <br>A very calm bunny with long ears
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<div class="container1 w-100">
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Negrito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Negrito</p>
        <p class="text">
            Species: Habana
            <br>Color: Black
            <br>Age: 2 years
            <br>Weight: 3,700 kg
            <br>Sex: Male
            <br>A very eater rabbit but is very playful with people
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Bolita.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Bolita</p>
        <p class="text">
            Species: Dwarf hamster
            <br>Color: White
            <br>Age: 1 year
            <br>Weight: 500 g
            <br>Gender: Female
            <br>She is very special since she likes to be with people very much and is very loving
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Gordito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Gordito</p>
        <p class="text">
            Species: Golden
            <br>Color: White with very ligth brown
            <br>Age: 1 year
            <br>Weight: 700 g
            <br>Sex: Male
            <br>It is very cuddly and plump
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
</div>

<div class="container1 w-100">
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuck.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuck</p>
        <p class="text">
            Breed: Dwarf hamster
            <br>Color: White
            <br>Age: 5 months
            <br>Weight: 300 g
            <br>Sex: Male
            <br>Despite being small, he is very imperative and playful
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Julio.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Julio</p>
        <p class="text">
            Species: Golden
            <br>Color: Coffe with white on the chest
            <br>Age: 1 year
            <br>Weight: 600 g
            <br>Sex: Male
            <br>very correlon and cute.
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Julio.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Julio</p>
        <p class="text">
            Species: Golden
            <br>Color: Coffe with white on the chest
            <br>Age: 1 year
            <br>Weight: 600 g
            <br>Sex: Male
            <br>very correlon and cute.
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/botto.png" class="img-fluid" alt="...">
        </div>
    </div>
</div>