
@{
    ViewData["Title"] = "Index";

}
@section Css{
    <link href="~/css/adopStyles.css" rel="stylesheet" />
}

<img src="~/img/adop.jpg" class="img-fluid" alt="...">
<div class="bar">
    <form class="form-inline">
        <div class="input-group w-100">
            <input class="form-control" type="search" placeholder="what are you searching for? " aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-orange" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="container1 w-100">
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
   </div>
<div class="container1 w-100">
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
</div>
<div class="container1 w-100">
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
</div>
<div class="container1 w-100">
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
</div>
<div class="container1 w-100">
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
        <div class="text-center">
            <p></p>
            <img src="~/img/bottom.png" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="dogs">
        <div class="text-center">
            <p></p>
            <img src="~/img/Chuchito.png" class="img-fluid" alt="...">
        </div>
        <p class="text-start"><br>Chuchito</p>
        <p class="text-center">
            Especie: Chihuahua
            <br>Color: Café claro
            <br>Edad: 4 meses
            <br>Peso: 2.700 kg
            <br>Sexo: Macho
            <br>Es un cachorrito muy cariñoso y juguetón.
        </p>
    </div>
</div>