
@{
    ViewData["Title"] = "Before Adopting";
    <link href="~/css/bfad.css" rel="stylesheet" />
}

<div id="header">
    <div id="headbfadtxt">
        <br><br><br>
        <h1>What you should know before adopting</h1>
        <p id="textheader">
            With your adoption you are not only helping the animal you adopt <br>
            but also the one that can enter its place to be cared for by us and <br>
            is no longer suffering on the streets.
        </p>
    </div>
</div>

<div id="divblue">
    <br>
    <h2>MAKING THE DECISION TO ADOPT</h2>
</div>

<br>

<div class="container text-justify">
    <div class="row">
        <div class="col-9" id="texttb">
            <h5>MAKE AN INFORMED DECISION</h5>
            Before adopting an animal, you must bear in mind that each species has
            well-defined needs and customs. Make sure you know the basic care well before making the decision.
            Think about it very well and do not adopt on impulse, because if you are not willing to assume this
            commitment for life, you will end up abandoning it causing a lot of suffering.
        </div>
        <div class="col-3" id="texttb">
            <img src="~/img/bfad8.jpg" class="rounded img-fluid" />
        </div>
    </div>
</div>

<div class="container text-justify">
    <div class="row">
        <div class="col-9" id="texttb">
            <h5>WILL YOU BE ABLE TO COMMIT YOURSELF FOR HIS LIFE?</h5>
            For example, consider that dogs and cats can live from 15 to 20 years, so you must be sure that,
            whatever happens, you will not abandon this animal: a divorce, a death, a move are causes for
            people to undo of their animals. If you think about moving, be sure to find a place where you
            can take him with you, since he will be a member of your family and you should not abandon him.
        </div>
        <div class="col-3" id="texttb">
            <img src="~/img/bfad4.png" class="rounded img-fluid" />
        </div>
    </div>
</div>

<div class="container text-justify">
    <div class="row">
        <div class="col-9" id="texttb">
            <h5>CAN YOU BE A RESPONSIBLE OWNER?</h5>
            You must have your pet sterilized, provide it with appropriate nutrition and veterinary care,
            offer it a suitable place sheltered from the weather where it can exercise and rest, always make
            it carry the identification plate, and do not let it go out alone or without a leash ,
            and of course, living with him giving him affection. In the case of dogs, they must be walked
            regularly between 3 and 6 times a day. In the case of cats, assign them a box with special litter
            to relieve themselves and keep it clean. Without the correct diet and without its vaccines,
            the animal could get sick, also causing you an extra expense when taking it to the vet.
        </div>
        <div class="col-3" id="texttb">
            <img src="~/img/bfad6.png" class="rounded img-fluid" />
        </div>
    </div>
</div>

<div class="container text-justify">
    <div class="row">
        <div class="col-9" id="texttb">
            <h5>DO YOU HAVE CHILDREN AT HOME?</h5>
            It is extremely important that they are aware that the character of animals is like that of
            humans. Nobody likes to be carried in insecure arms while someone yells in their ear. The child
            will learn to know the different ways of acting that living beings have, to respect and love them.
            You just must explain that there are some things that the animal likes and there are others that
            bother him. Non-violent, fun, and supervised play is the best way to fully integrate into the family.
        </div>
        <div class="col-3" id="texttb">
            <img src="~/img/bfad7.png" class="rounded img-fluid" />
        </div>
    </div>
</div>

<div class="container text-justify">
    <div class="row">
        <div class="col-9" id="texttb">
            <h5>DO YOU HAVE THE FINANCIAL RESOURCES TO MAINTAIN IT?</h5>
            Basically, you must be able to assume expenses for: food, vaccines, cleaning and hygiene products,
            toys and veterinary emergencies. Keep in mind that other expenses may arise, for example, when you
            go on a trip if you do not have someone to take care of it you would have to leave it in a pension.<br>
            <br><h5>IS IT ALLOWED TO HAVE AN ANIMAL IN THE PLACE WHERE YOU LIVE?</h5>
            Before making the decision, make sure that animals are allowed in the place where you live, as well
            as what the restrictions and regulations are in this regard. You must avoid any inconvenience with
            the neighbors so as not to put the animal's health at risk.<br><br>
        </div>
        <div class="col-3" id="texttb">
            <img src="~/img/bfad2.png" class="rounded img-fluid" />
        </div>
    </div>
</div>

<br>
<div id="divblue">
    <h2>DO YOU ALREADY KNOW WHAT YOU CAN AND WANT TO ADOPT?</h2>
    <p id="phead">Decide the type of animal that suits your lifestyle and commit to caring for it for its entire life.</p>
</div>

<br>

<div class="container text-justify">
    <div class="row">
        <div class="col-12" id="texttb">
            <h5>REMOVE ALL DOUBTS AND START THE PROCESS</h5>
            Before making any decision, it is very important to raise all the doubts that may arise about
            the needs of the animal, its history, its way of relating to people, its state of health, etc.
            Anything that seems important to you in order to get to know the person who will be your partner
            for many years to the fullest, you can ask the Adoption staff, who will advise you on everything
            with great pleasure, since it should be selected according to the family situation and the
            personalities of the members of the family.<br>
            <br><h5>MALE OR FEMALE?</h5>
            The normal thing is that the males are more dominant and have a greater confidence in
            themselves while the females are more affectionate and more homelike. Sterilization makes
            the desire of males to escape or fight for heat in females and its consequences disappear.
            However, every rule has its exception, so it is very important to know the personality of each
            animal regardless of sex.<br>
            <br><h5>ADULT OR PUPPY?</h5>
            It is true that puppies are adorable and surely most of us would opt for them, but their needs
            are greater, and they require a lot of time and effort. However, watching a pet grow into an adult
            is a great experience. The downside is that we cannot predict their behavior or physical appearance
            once they grow up. An adult dog is a more comfortable option even though, unfortunately, there are
            many disadvantages towards them. However, the truth is that they get used to a family much faster
            and already have some education. In addition, they do not require constant attention and will not
            overwhelm us with their energy like a puppy would. They bring the same affection and company without
            forcing us to follow a frantic pace. Another advantage is that we already know their personality,
            and we already know what diseases they have suffered and which they will be prone to.<br>
            <br><h5>TAKE YOUR TIME: A HAPPY CHOICE WILL HURT YOU AND THE ADOPTED ANIMAL.</h5>
            In the Adoption Centers they will be able to advise you and answer all the questions you have
            before making the final decision. Find out as much as you can about the animal's behavior and
            needs. You must give him time and space to get used to his new home. If you reflect well, you will
            get the one closest to your expectations and the most authentic friend you can imagine.<br><br>
        </div>
    </div>
</div>

<br>

<div id="divblue">
    <br>
    <h2>ARE YOU READY FOR THE NEXT STEPS?</h2>
</div>

<br>

<div class="container text-center">
        <div class="row">
            <div class="col-xl-6">
                <a href="@Url.Action("AdoptRequirements", "Pets")" class="btn btn-outline-primary btn-lg">Know the requirements <br> to adopt</a>
            </div>
            <div class="col-xl-6">
                <a href="@Url.Action("Index","Pets")" class="btn btn-outline-primary btn-lg">Know them</a>
            </div>
        </div>
</div>
<br>
