@{
    ViewData["Title"] = "ContactUs";
}

@section Css{
    <link href="~/css/ContactUsStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
}

@section Scripts{
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}

<header class="triangle">
    <div class="text-container">
        <h1>Contact Us</h1>
    </div>
</header>

<div class="contact">
    <div class="contact-info">
        <div class="card">
            <br><h3>Email</h3>
            <i class="card-icon far fa-envelope"></i>
            <p>pawsonurheart@gmail.com</p>
        </div>

        <div class="card">
            <br><h3>Phone</h3>
            <i class="card-icon fas fa-phone"></i>
            <p>83560860 / 83579678 <br> Extensions: 258/259</p>

        </div>

        <div class="card">
            <br><h3>Location</h3>
            <i class="card-icon fas fa-map-marker-alt"></i>
            <p>Street ABC #123 Monterrey, NL</p>
        </div>
    </div>
</div>

<div class="Dev">
    <h3>Developers</h3>
</div>

<section>
    <div class="container3">
        <div class="row justify-content-center mx-auto">
            <div class="col-md-4 offset-md-0 offset-2">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="~/img/fime-back4.jpg" alt="profile-sample1" class="background" />
                    </div>
                    <div class="profile-thumb-block">
                        <img src="~/img/boss2.jpg" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <br>
                        <h2>
                            Lepollo3000<small>Back-end supervisor</small></h3>
                            <div class="icon-block"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"> <i class="fab fa-twitter"></i></a><a href="#"> <i class="fab fa-instagram"></i></a></div>
                    </div>
                    <div class="card-action">
                        <button class="button enlarge">
                            <span class="fas fa-envelope"></span>
                            <p>Send email</p>
                        </button>
                    </div>
                </div>
            </div>
            <!--Card 2-->
            <div class="col-md-4 offset-md-0 offset-2">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="~/img/fime-back4.jpg" alt="profile-sample1" class="background" />
                    </div>
                    <div class="profile-thumb-block">
                        <img src="~/img/front1000.jpg" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <br>
                        <h2>
                            Abraham Silva<small>Front-end Developer</small></h3>
                            <div class="icon-block"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"> <i class="fab fa-twitter"></i></a><a href="#"> <i class="fab fa-instagram"></i></a></div>
                    </div>
                    <div class="card-action">
                        <button class="button enlarge">
                            <span class="fas fa-envelope"></span>
                            <p>Send email</p>
                        </button>
                    </div>
                </div>
            </div>
            <!--Card 3-->
            <div class="col-md-4 offset-md-0 offset-2">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="~/img/fime-back4.jpg" alt="profile-sample1" class="background" />
                    </div>
                    <div class="profile-thumb-block">
                        <img src="~/img/Naguive2.jpg" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <br>
                        <h2>
                            Naguive Zantiago<small>Front-end Developer</small></h3>
                            <div class="icon-block"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"> <i class="fab fa-twitter"></i></a><a href="#"> <i class="fab fa-instagram"></i></a></div>
                    </div>
                    <div class="card-action">
                        <button class="button enlarge">
                            <span class="fas fa-envelope"></span>
                            <p>Send email</p>
                        </button>
                    </div>
                </div>
            </div>
            <!--Card 4--> 
            <div class="col-md-4 offset-md-0 offset-2">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="~/img/fime-back4.jpg" alt="profile-sample1" class="background" />
                    </div>
                    <div class="profile-thumb-block">
                        <img src="~/img/front3.jpg" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <br>
                        <h2>
                            María Sauceda<small>Front-end Developer</small></h3>
                            <div class="icon-block"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"> <i class="fab fa-twitter"></i></a><a href="#"> <i class="fab fa-instagram"></i></a></div>
                    </div>
                    <div class="card-action">
                        <button class="button enlarge">
                            <span class="fas fa-envelope"></span>
                            <p>Send email</p>
                        </button>
                    </div>
                </div>
            </div>
            <!--Card 5-->
            <div class="col-md-4 offset-md-0 offset-2">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="~/img/fime-back4.jpg" alt="profile-sample1" class="background" />
                    </div>
                    <div class="profile-thumb-block">
                        <img src="~/img/Antonio.jpeg" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <br>
                        <h2>
                            Antonio<small>Front-end Developer</small></h3>
                            <div class="icon-block"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"> <i class="fab fa-twitter"></i></a><a href="#"> <i class="fab fa-instagram"></i></a></div>
                    </div>
                    <div class="card-action">
                        <button class="button enlarge">
                            <span class="fas fa-envelope"></span>
                            <p>Send email</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>