@{
    ViewData["Title"] = "ContactUs";
}

@section Css{
    <link href="~/css/ContactUsStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
}

@section Scripts{
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
}

<header class="triangle">
    <div class="text-container">
        <h1>Contact Us</h1>
    </div>
</header>

<div class="container1 w-100">
    <div class="dogs1">
        <div class="text-center">
            <p></p>

        </div>
    </div>
</div>

<div class="contact">
    <div class="contact-info">
        <div class="card">
            <br><h3>Email</h3>
            <i class="card-icon far fa-envelope"></i>
            <p>pawsonurheart@gmail.com</p>
        </div>

        <div class="card">
            <br><h3>Phone</h3>
            <i class="card-icon fas fa-phone"></i>
            <p>83560860 / 83579678 <br> Extensions: 258/259</p>

        </div>

        <div class="card">
            <br><h3>Location</h3>
            <i class="card-icon fas fa-map-marker-alt"></i>
            <p>Street ABC #123 Monterrey, NL</p>
        </div>
    </div>
</div>

<div class="Dev">
    <h3>Developers</h3>
</div>

<header class="cards">
    <div class="center-cards">
        <div class="align-content-center">
            <br>
            <div class="row">
                <div class="card2 col-4">
                    <div class="card-header">
                        <img src="~/img/boss.jpg" alt="" />
                    </div>
                    <div class="text2">
                        <h3>Lepollo3000</h3>
                    </div>
                    <div class="card-icon2">
                        <li class="enlarge"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li class="enlarge"><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li class="enlarge"><a href="#"><span class="fab fa-instagram"></span></a></li>
                    </div>
                    <div class="card-content">
                        <div class="personal-info scroll">Monterrey, Nuevo León</div>
                        <div class="personal-info scroll"><p>Back-end supervisor</p></div>
                    </div>
                    <div class="card-action">
                        <button class="button enlarge">
                            <span class="fas fa-envelope"></span>
                            Send email
                        </button>
                    </div>
                </div>
                <!--personal card 2-->
                <br>
                <div class="card2 col-4">
                    <div class="card-header">
                        <img src="~/img/front1.jpg" alt="" />
                    </div>
                    <div class="text2">
                        <h3>Abraham Silva</h3>
                    </div>
                    <div class="card-icon2">
                        <li class="enlarge"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li class="enlarge"><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li class="enlarge"><a href="#"><span class="fab fa-instagram"></span></a></li>
                    </div>
                    <div class="card-content">
                        <div class="personal-info scroll">Monterrey, Nuevo León</div>
                        <div class="personal-info scroll"><p>Front-end Developer</p></div>
                    </div>
                    <div class="card-action">
                        <button class="button enlarge">
                            <span class="fas fa-envelope"></span>
                            Send email
                        </button>
                    </div>
                </div>
                <!--personal card 3-->
                <div class="card2 col-4">
                    <div class="card-header">
                        <img src="~/img/front2.png" alt="" />
                    </div>
                    <div class="text2">
                        <h3>Naguive Marisol</h3>
                    </div>
                    <div class="card-icon2">
                        <li class="enlarge"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li class="enlarge"><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li class="enlarge"><a href="#"><span class="fab fa-instagram"></span></a></li>
                    </div>
                    <div class="card-content">
                        <div class="personal-info scroll">Monterrey, Nuevo León</div>
                        <div class="personal-info scroll"><p>Front-end Developer</p></div>
                    </div>
                    <div class="card-action">
                        <button class="button enlarge">
                            <span class="fas fa-envelope"></span>
                            Send email
                        </button>
                    </div>
                </div>

                <br> <br>
                <!--personal card 4-->
                <div class="card2 col-4">
                    <div class="card-header">
                        <img src="~/img/front3.jpg" alt="" />
                    </div>
                    <div class="text2">
                        <h3>María Sauceda</h3>
                    </div>
                    <div class="card-icon2">
                        <li class="enlarge"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li class="enlarge"><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li class="enlarge"><a href="#"><span class="fab fa-instagram"></span></a></li>
                    </div>
                    <div class="card-content">
                        <div class="personal-info scroll">Monterrey, Nuevo León</div>
                        <div class="personal-info scroll"><p>Front-end Developer</p></div>
                    </div>
                    <div class="card-action">
                        <button class="button enlarge">
                            <span class="fas fa-envelope"></span>
                            Send email
                        </button>
                    </div>
                </div>
                <br>
                <!--personal card 5-->
                <div class="card2 col-4">
                    <div class="card-header">
                        <img src="~/img/front4.png" alt="" />
                    </div>
                    <div class="text2">
                        <h3>Antonio</h3>
                    </div>
                    <div class="card-icon2">
                        <li class="enlarge"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li class="enlarge"><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li class="enlarge"><a href="#"><span class="fab fa-instagram"></span></a></li>
                    </div>
                    <div class="card-content">
                        <div class="personal-info scroll">Monterrey, Nuevo León</div>
                        <div class="personal-info scroll"><p>Front-end Developer</p></div>
                    </div>
                    <div class="card-action">
                        <button class="button enlarge">
                            <span class="fas fa-envelope"></span>
                            Send email
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>