
@{
    ViewData["Title"] = "Donations";
}

@section Css{
    <link href="~/css/donationsStyles.css" rel="stylesheet" />
}

<section>
    <div class="content">
            <h2>Donations</h2>
            <h5>Help us to continue creating smiles</h5>
    </div>
</section>

    <p class="textyeah">
        We seek the financial support of people who share with us the love for animals and the way we attend to the problem they live. The needs of animals do not stop on vacations or weekends. We give them attention 365 days a year and that is why we ask for donations, and if it is possible for you to send it periodically, it would be better for them to thank you!
    </p>
    <p class="textyeah">
        Paw prints on your heart does not receive funds from the government, so we subsist thanks to voluntary donations from the population. The money we ask for is used throughout the process that an animal must go through between its rescue and its adoption, such as vaccines, deworming, sterilization, surgery or treatment for illness, medication, food, etc. In addition, the fixed costs of the facilities must be taken into account, such as electricity, water, gas, rent and staff salaries. Consumables such as gasoline and stationery are also used, among others.
    </p>

    <div class="card">
        <img src="~/img/ffbb1.jpg" alt=""/>
        <div class="card-body">
            <h5 class="card-title">Information of the account</h5>
            <p class="text-left">
                <br>Bank: BANCOMER<br>
                <br>Account: 0446270719<br>
                <br>CLABE: 012180004462707198<br>
                <br>Reference: Internet Donation<br>
                <br>Branch: 3424<br>
                <br>Name: Antonio Haghenbeck and La Lama IAP Foundation<br>
                <br>Please send us your deposit slip by mail receipts@cambiaundestino.org communicating the reason for your kind contribution.<br>
                <br>
            </p>
            <h5 class="card-title">Donations in kind</h5>
            <p class="text-left">
                <br>- Medicines, pharmaceuticals and medical equipment<br>
                <br>- All kinds of food and accessories for animals<br>
                <br>- Aesthetic material<br>
                <br>- Electronic devices, office and warehouse furniture and stationery supplies<br>
                <br>- Cleaning materials<br>
                <br>- Promotional items, advertising and graphic or printing materials<br>
                <br>- Professional consulting<br>
                <br>- New Items for Fundraising Raffles<br>
                <br>- Events and fundraising points<br>
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Paws on ur heart</small>
        </div>
    </div>
    <div class="img">
        <img src="~/img/c.png" />
        <img src="~/img/a.png" />
        <img src="~/img/r.png" />
        <img src="~/img/do.png" />
    </div>