@{
    ViewData["Title"] = "Home Page";
    <link href="~/css/homeindex.css" rel="stylesheet" />
}

<div class="container text-center" id="indxhead">
    <div class="row my-2">
        <div class="col-6">
            <p id="indextitle">Paws in <br> your heart</p>
        </div>
        <div class="col-6">
            <img src="~/img/hindex1.jpg" class="img-fluid" />
        </div>
    </div>
</div>

<br>

<div class="container text-justify">
    We are a non-profit program that seeks to rescue animals from the street 
    or animals whose owners cannot take proper care of them, it is a common 
    belief that animals end up in shelters because they were abused or behaved 
    badly. In truth, most animals in shelters are there because of 
    “people reasons”: divorce, moving, lack of time, and financial constraints 
    are among the most common reasons why pets lose their homes. Adopted pets are 
    just as loving, intelligent, and loyal as purchased pets besides by adopting a pet
    from you'll help save the lives of two animals—the pet you adopt and a homeless animal
    that can be rescued because of space you make available. This website was created so
    that people can see the animals in the shelter waiting for a home and can know our
    adoption process.
</div>

<br>

<div class="container text-justify">
    <div class="row">
        <div class="col-6">
            <img src="~/img/hindex2.png" class="img-fluid" /> <br>
            <h3>Adoptions</h3>
            A home is sought for both internal and external animals; A careful analysis
            is made of the candidates who wish to adopt, prior to the delivery of the animals,
            they are given guidance on the care and responsibilities involved in adopting 
            a dog/cat/hamster/etc.; and adoption is monitored.
        </div>
        <div class="col-6">
            <img src="~/img/hindex3.png" class="img-fluid" /> <br>
            <h3>Rescues</h3>
            Through a telephone report, support is provided to animals that are badly
            injured on public roads and / or in a situation of risk to their life and we 
            accept pets that need a new home (the situation of why must be disclosed).
        </div>
    </div>
</div>

<br>

<div id="divblue">
    <h2>HAPPY STORIES</h2>
</div>

<br>
These are our most recent adoptions, we make sure that the animals go to healthy and happy homes, where they can receive the love they deserve.
<br><br>

<div class="container text-justify" id="indexstories">
    <div class="row">
        <div class="col-6">
            <img src="~/img/hindex4.jpg" class="img-fluid" /><br>
            <h4>Lenin</h4>
            “Lenin came to our house on February 15, 2021, he was 4 months old.
            He has always been and is until now a very energetic dog, eager to play
            and very affectionate with us. From the first day we had a beautiful connection with him,
            and he stole our hearts, he is a protective and faithful friend."
            <br>
        </div>
        <div class="col-6" id="graysquare">
            <img src="~/img/hindex5.png" class="img-fluid" /><br>
            <h4>Pepito</h4>
            “In October 2020, we suffered the loss of our Nova, a cute brown and
            white schnauzer with whom lived with us for 13 years, we no longer wanted
            to experience that suffering again. It was when our daughter taught us a thought
            of how to overcome the loss and pay tribute to our furry through adoption."
            <br><br>
        </div>
    </div>
</div>

<div class="container text-justify" id="indexstories">
    <div class="row">
        <div class="col-6" id="graysquare">
            <img src="~/img/hindex6.png" class="img-fluid" /><br>
            <h4>Gatsby</h4>
            As a child I always wanted a pet, but my mother was allergic to animals,
            now that I am an adult, I decided to fulfill my wish, the first time I saw Gatsby 
            I fell in love and I think the feeling is mutual. He is the best cat in the world.
        </div>
        <div class="col-6">
            <img src="~/img/hindex7.png" class="img-fluid" /><br>
            <h4>Big Papa</h4>
            Our son is very responsible and empathetic, he has wanted a pet 
            since he was 3 years old, we thought that adopting a dog would be ideal for him,
            but he chose this beautiful hamster that he named big papa, watching him play with him
            is very cute and creating little meals for him is hilarious.
            <br><br>
        </div>
    </div>
</div>

<div class="container text-justify" id="indexstories">
    <div class="row">
        <div class="col-6">
            <img src="~/img/hindex8.png" class="img-fluid" /><br>
            <h4>Hercules</h4>
            Hercules is a huge dog and a bit scary, but he is a kind giant with a huge heart, since
            we adopted him he has protected us from dangers (mainly squirrels) and takes care of our
            daughter with a lot of love. Being a large dog requires a lot of attention,
            but it is totally worth it.
            <br><br>
        </div>
        <div class="col-6" id="graysquare">
            <img src="~/img/hindex9.png" class="img-fluid" /><br>
            <h4>Altivo</h4>
            I adopted Altivo because he looked sad and lifeless, I have always liked having planted
            tanks with amano shrimp, so I already had a big and beautiful place for him, now he is
            very happy and active, and it relaxes me to watch him swim and chase the tiny shrimps.
            <br>
        </div>
    </div>
</div>

<div class="container text-justify" id="indexstories">
    <div class="row">
        <div class="col-6" id="graysquare">
            <img src="~/img/hindex10.png" class="img-fluid" /><br>
            <h4>Iris</h4>
                Iris came home in April 2020, with this pandemic she has given us many funny 
                moments, she is a loving cat and loves to play with hair ties. Sometimes she gives 
                us the attitude of a diva, but she is the kitten of our heart.
            <br>
        </div>
        <div class="col-6">
            <img src="~/img/hindex11.png" class="img-fluid" /><br>
            <h4>Cosmo</h4>
                Cosmo arrived like a shaky ball and seemed to be hungry 24/7. It took time to 
                get him used to people but a little chicken convinced him that we wouldn't hurt him. 
                To whoever reads this, please adopt a pet, it will be the best experience of your life.
            <br><br>
        </div>
    </div>
</div>

<div class="container text-justify" id="indexstories">
    <div class="row">
        <div class="col-6">
            <img src="~/img/hindex12.png" class="img-fluid" /><br>
            <h4>Zoe</h4>
                When Zoe got home, she hid and cried at night, I guess she missed her old family, it
                took time to make her feel more comfortable with us, time has passed and now she sleeps
                with me. I love her very much and would give anything to make her forget her past.
            <br><br>
        </div>
        <div class="col-6" id="graysquare">
            <img src="~/img/hindex13.png" class="img-fluid" /><br>
            <h4>Bolin</h4>
                Bolin is an adult dog with the heart of a child, he loves to chase his tail and watch television 
                with me, I firmly believe that he is my soul mate, if I am sad or upset, he knows it and comforts 
                me, I will give him the best life I can.
            <br>
        </div>
    </div>
</div>

<div id="divblues" class="text-center">
    <a href="#" class="btn btn-outline-light btn-lg">Share your story!></a>
</div>
