.bar {
    padding: 1%;
    border: solid 1px #dddddd;
    border-top: solid 4px #fb6542;
    border-bottom: solid 4px #fb6542;
    /*
    width: 99.1vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    margin-bottom: 50px;
    */
}

.fav {
    display: inline-flex;
    padding: 10px;
}

.btn-orange {
    background-color: #fb6542;
    color: white;
}
/*
.row {
    margin-bottom: 40px;
    line-height: 1.2;
}
*/
.card {
    border: solid 4px #fb6542;
    border-radius: 10px;
}

.card-text {
    margin-left: 10px !important;
    font-family: verdana;
}

.btnImage {
    cursor: pointer;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80%;
    object-fit: cover;
    margin-top: 5%;
    margin-bottom: 5%;
}

.menu-blue {
    height: 100px;
    width: 100%;
    background-color: rgb(76,181,245);
    text-align: center;
    color: white;
    clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
}

.cards tbody tr {
    float: left;
    width: 19rem;
    margin: 0.5rem;
    border: 0.0625rem solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.cards tbody td {
    display: block;
}

.cards thead {
    display: none;
}

.cards td:before {
    content: attr(data-label);
    position: relative;
    float: left;
    color: #808080;
    min-width: 4rem;
    margin-left: 0;
    margin-right: 1rem;
    text-align: left;
}

tr.selected td:before {
    color: #CCC;
}

.table .avatar {
    width: 50px;
}

.cards .avatar {
    width: 150px;
    margin: 15px;
}