nav {
    font-size: 1.2rem;
    border-top: thick solid #fb6542;
    border-width: 20px;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

.nav-item {
    padding-right: 2%;
    padding-left: 2%;
}

.btn-primary {
    background-color: #ffbb00 !important;
    border-color: #d99f00 !important;
}

.nav-link {
    border: hidden;
    background-color: rgba(255, 0, 0, 0.0);
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}